/*	//	//	//	//	//	//	//	//	//	//	//	//	//
//													//
//	Show-More Plugin by Reuben @dalegroup	       	//
//													//
//	//	//	//	//	//	//	//	//	//	//	//	//	*/
.hide-this{ display:none; }
.hide-arrow{ transition: 0.3s ease; float:right; font-size:25pt; transform: scaleX(0.6);-webkit-transform: scaleX(0.6); margin-top:-6px; margin-right:1px;}
.spin180{ transform: rotate(180deg) scaleX(0.6); -webkit-transform: rotate(180deg) scaleX(0.6); -ms-transform: rotate(180deg) scaleX(0.6); transition: 0.3s ease; }
.spin90{ transform:rotate(90deg scaleX(0.6)); -webkit-transform: rotate(180deg) scaleX(0.6); -ms-transform: rotate(180deg) scaleX(0.6); transition: 0.3s ease; }

/* Hides these classes on mobile only, perm class is never visible on mobile even when show-more button is clicked */
@media screen and (max-device-width:991px){ 
    .hide-this-mobile-perm{ display:none !important; }
    .hide-this-mobile{ display:none }
}
