// I M P O R T   M I X I N S - https://github.com/matthieua/sass-css3-mixins
@import "css3-mixins"
// I M P O R T   C O L O U R S 
@import "colours.sass"
// I M P O R T   M E D I A Q U E R I E S - https://github.com/paranoida/sass-mediaqueries
@import "media-queries.scss"
// I M P O R T M A R K D O W N
@import "github-markdown.css"

/* Animation settings */

body
    font-family: sans-serif
    background: #f3f3f3
    margin: 0
    width: 100vw
    overflow-x: hidden
hr
    border-color: #f8f8f8
.clearfix
    clear: both
.container
    width: 45%
    float: left
    border: none
    margin: 0.5em
    &.box
        h4
            margin-left: 0
        @include box-shadow(0, 1px, 2px, #aaa)
        @include border-radius(2px)
        background: $background
        padding: 2%
        @include transition(width, height, 0.5s, ease)
        div
            color: $white
            background: $lightblue-background-darkest
            @include box-shadow(0, 1px, 2px, #aaa)
            display: inline-block
            float: left
            width: 50px
            height: 50px
            border: 1px solid $lightblue-border-darkest
            padding: 20px
            text-align: center
            vertical-align: middle
            margin: 25px 20px 25px 20px
    &.basic div
        margin: 50px 50px 50px 0
    &.diagonal div
        margin: 50px 25px 50px 25px
    &.title
        width: 100%
        padding-left: 10px
    h1
        margin: 5px 0 5px
        color: $primary
    h3
        margin: 0 0 0 7px
        margin-bottom: 30px
        color: lighten($primary, 30)
    h4
        margin: 0 0 0 4px
        color: darken($primary, 20)
    p
        width: 100%
        color: $primary
        margin-left: 10px
        padding-bottom: 10px
        margin-bottom: 30px
    a,
    a &:visited
        color: $primary
        text-decoration: underline
        &:active, &:hover, &:focus
            color: $primary-lighter
.markdown-container
    width: 98%
    p
        padding-left: 10px
    .markdown-body
        @include box-shadow(0, 1px, 2px, #aaa)
        @include border-radius(2px)
        background: $background
        padding: 20px
        margin-left: 0
        p
            color: black
        center
            font-weight: bold
        section
            margin-left: 30px
        
@include max-screen(1600px)
    .container
        width: 44%
@include max-screen(1000px)
    .container
        width: 100%
        &.box
            margin: 1em 0 0 0
@include max-screen(450px)
    body
        overflow-x: visible
